@import url('https://fonts.googleapis.com/css?family=Ubuntu');

* {
    font-family: 'Ubuntu', sans-serif;
    margin: 0;
    padding: 0;
    transition: 1s all;
    -moz-transition: 1s all;
    -webkit-transition: 1s all;
}

/*************NAVBAR*************************/

.btn-outline-success {
    color: #004d99;
    border-color: #004d99;
}

.btn-outline-success:hover {
    background: #004d99;
    border-color: #004d99;
}

.nav-link:hover {
    color: #004d99!important;
}

.nav-link {
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #222222!important;
}

.form-control {
    width: 250px!important;
    margin-left: 25px;
}

.dropdown-menu {
    margin-left: -100px!important;
}

/*******************NAVBAR**********************/

/*******************INDEX***********************/

.content {
    width: 90%;
    margin: 25px 5%;
}

.card {
    width: 19%;
    margin: 10px 0.3%;
    display: inline-block;
}

.card-title {
    color: #004d99;
    font-size: 14px;
}

.card-body {
    padding: 10px;
    text-align: center;
}

.card-text p {
    line-height: 10px;
    font-weight: 800;
    color: #004d99;
}

.card-text p span {
    font-weight: 500;
    font-size: 11px;
    color: #407ab3;
}

.card-img-top {
    max-height: 250px;
}

/*************************INDEX*********************/

/*************************SELL*********************/

.content-sell {
    border: 1px solid #ccc;
    padding: 25px;
    background: #e7eef5;
    margin: 50px auto;
}

.content-sell h1 {
    text-align: center;
    color: #004d99;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 2px;
}

.content-sell #search_item {
    width: 50%;
    margin: 10px 25%;
    padding: 7px;
    border: 1px solid #ccc;
    border-radius: 4px;
    color: #555;
}

.item_price {
    width: 40%;
    margin: 5px 30%;
    color: #222;
}

.item_price input {
    margin: 0;
}

.sell-now-btn {
    border: 1px solid #004d99;
    padding: 7px;
    letter-spacing: 2px;
    font-weight: 800;
    color: #fff;
    background: #004d99;
    border-radius: 4px;
    width: 20%;
    margin: 10px 40%;
    cursor: pointer;
}

.sell-now-btn:hover {
    background: #fff;
    color: #004d99;
}

.search_item-results {
    border: 1px solid #cccccc;
    padding: 0px;
    font-size: 16px;
    font-family: 'Ubuntu', sans-serif;
    width: 43%;
    margin: -11px 10% 0 21.6%;
    height: 250px;
    position: absolute;
    background: #fff;
    z-index: 2;
    overflow: auto;
    border-radius: 4px;
    display: none;
}

.item-result {
    padding: 10px 5px;
    font-size: 20px;
    color: #222;
    font-weight: 700;
    border-bottom: 1px solid #ccc;
    height: 50px;
    cursor: pointer;
}

.item-result:hover {
    background: #004d99;
    color: #fff!important;
    border-left: 10px solid #007399;
}

.item-result span {
    color: #999;
    font-size: 12px;
    letter-spacing: 2px;
    float: right;
}

/*************************SELL***********************/

/*************************CHECKOUT**********************/

.checkout {
    padding: 20px;
}

.checkout span {
    margin-left: 100px;
    font-size: 18px;
}

.checkout img {
    width: 10%;
}

.checkout .form-control {
    margin: 0;
}

.checkout .form-row .form-group {
    margin-right: 50px;
}

.checkout .summary div p {
    width: 90%;
    display: inline-block;
}

.checkout .summary span {
    color: #2eb82e;
    margin: 0;
}

.checkout .orderConfirmation {
    background: #004d99;
    border-color: #004d99;
    width: 40%;
    margin: 10px 30%;
    padding: 5px;
    letter-spacing: 2px;
}

.checkout .orderConfirmation:hover {
    background: #3399ff;
    border-color: #3399ff;
}

/************************CHECKOUT*************************/

/************************SEARCH**************************/

.content_search h1 {
    text-align: center;
    margin: 10px;
}

/**********************SEARCH****************************/

/********************SNACKBAR**************************/

 /* The snackbar - position it at the bottom and in the middle of the screen */
 #snackbar {
    visibility: hidden; /* Hidden by default. Visible on click */
    min-width: 250px; /* Set a default minimum width */
    margin-left: -125px; /* Divide value of min-width by 2 */
    background-color: #333; /* Black background color */
    color: #fff; /* White text color */
    text-align: center; /* Centered text */
    border-radius: 2px; /* Rounded borders */
    padding: 16px; /* Padding */
    position: fixed; /* Sit on top of the screen */
    z-index: 1; /* Add a z-index if needed */
    left: 50%; /* Center the snackbar */
    bottom: 30px; /* 30px from the bottom */
}

/* Show the snackbar when clicking on a button (class added with JavaScript) */
#snackbar.show {
    visibility: visible; /* Show the snackbar */
    /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
   However, delay the fade out process for 2.5 seconds */
   -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
   animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
} 

#snackbar button {
    border: 1px solid #ccc;
    background: #fff;
    color: #222;
    padding: 5px;
}

/********************SNACKBAR**************************/